/* Custom Color Palette */
:root {
  /* Neutral Colors */
  --black: #252525;
  --off-black: #333941;
  --dark-gray: #4F5662;
  --gray: #D0D0D0;
  --off-white: #F0F0F0;
  --white: #F9F9F9;
  
  /* Accent Colors */
  --blue: #2B43DD;
  --light-blue: #6E7DE1;
  --pale-blue: #EAEAF7;
}
