/* styles/landingPage.css */
@import url('./fonts.css');
@import url('./colors.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'PP Neue Montreal', sans-serif;
  background-color: var(--blue);
}

.landing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  margin: 130px auto;
  text-align: center;
  gap: 21px;
}

#landing-graphic {
  width: 150px;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-family: 'PP Mondwest', serif;
  font-weight: 400;
  font-size: 3rem;
  color: var(--white);
  margin: 0;
  text-shadow: 0 0 4px var(--black, #252525);
  text-align: center;
  line-height: 90%;
}

p {
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 1rem;
  color: var(--white);
  width: 310px;
  margin: 0;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-group button {
  font-family: 'PP Neue Montreal', sans-serif;
  width: 145px;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
}

#sign-in-button {
  background-color: var(--white);
  color: var(--black);
}

#sign-up-button {
  background-color: var(--black);
  color: var(--white);
}
